<template>
    <div class="main">
        Network
    </div>


</template>

<script>

    export default {
        name: 'Network',
        props: {
            msg: String
        },
        created() {
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
