<template>
    <div class="main">
        <Banner :image="'android.jpg'" >
            <div class="content">
                <h1>
                    The fastest Internet technology + Canada’s fastest 5G mobile network.
                </h1>
                <p>
                    Enjoy a $10/mo. credit for a year when you get eligible Mobility and Internet services.
                </p>
            </div>
        </Banner>
    </div>


</template>


<script>
    import Banner from "../Common/Banner";

    export default {
        name: 'Why',
        components: {Banner},
        props: {
            msg: String
        },
        created() {
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
