<template>
    <div class="main">
        <div class="menu">
            <ul>
                <li
                    v-show="item.display"
                    ref = "item"
                    v-for="(item, index) in menu" :key="item.title"
                    @click="showMenu(item, index)">
                    {{ item.title }}
                    <ul v-show="currentSubMenu === index">
                        <li
                            v-for="(sub, i) in item.subjects" :key="sub.title"
                            @click="showFinalMenu(sub)">
                            {{ sub.title }}
                            <ul>
                                <li v-show="currentFinalMenu === i"
                                    v-for="final in sub.subjects" :key="final.title"
                                    @click="navigate(final.route)"
                                >
                                    {{ final.title }}
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>


</template>

<script>

    export default {
        name: 'MenuMobile',
        data: function () {
            return {
                currentSubMenu: undefined,
                currentFinalMenu: undefined,
            }
        },
        props: {
            menu: Object
        },
        created() {
        },
        methods: {
            showMenu: function (ev, index) {
                this.currentSubMenu = index
            },
            showFinalMenu: function (ev, index) {
                ev.stopPropagation()
                console.log('keyFin', index);
                this.currentFinalMenu = index
            }
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .main {
        position: absolute;
        top: 70px;
        left: 0px;
        width: 100%;
        background-color: #00549a;
    }
    ul {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        li {
            padding: 15px;
            color: white;
            text-align: left;
            font-size: 1.4rem;
        }
    }
    ul:first-child {
        box-shadow: inset 0px 11px 17px 0px rgb(0 0 0 / 25%);
    }
</style>
