<template>
    <div class="main" @mouseleave="$emit('hideMenu')">
        <div class="menu">
            <ul>
                <li v-show="item.display"
                    v-for="item in menu.subjects" :key="item.title"
                    :class="{active: subMenuData === item}"
                    @mouseover="showSubMenu(item)">
                    {{ item.title }}
                </li>
            </ul>

        </div>
        <div class="subMenu" v-if="showSub">
            <ul>
                <li v-show="item.display"
                    v-for="item in subMenuData.subjects" :key="item.title"
                    @click="navigate(item.route)"
                >
                    {{ item.title }}
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'SubMenu',
        data: function () {
            return {
                subMenuData: [],
                pos: {}
            }
        },
        props: {
            menu: [],
            test: String,
            position: Object,
            showSub: Boolean,
        },
        watch: {
        },
        created() {
            console.log('th', this)
        },
        methods: {
            showSubMenu: function (item) {
                console.log('subMenu')
                this.showSub = true;
                this.subMenuData = item
            },
            navigate: function (route) {
                console.log('navigate', this)
                this.showSub = false;
                this.$emit('hideMenu')
                this.$router.push({name:route})
            }
        },
        beforeDestroy() {
            this.showSub = false;
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .main  {
        display: flex;
        position: absolute;
        opacity: 1;
        z-index: 20;

        padding-top: 0;
        padding-bottom: 0;
        -webkit-box-shadow: 0px 3px 16px 2px rgb(0 0 0 / 23%);
        box-shadow: 0px 3px 16px 2px rgb(0 0 0 / 23%);
        overflow: visible;
        li:hover {
            cursor: pointer;
            background-color: white;
        }
        .menu {
            background-color: #f0f0f0;
            width: 250px;
            color: #00549a;
            font-size: 1.5rem;
            ul {
                list-style-type: none;
                padding: 0px;
            }
            li {
                text-align: left;
                padding: 14px;
            }
            li:hover {
                background-color: white;
            }
        }
        .subMenu {
            background-color: white;
            width: 214px;
            color: black;
            padding: 10px;
            font-size: 1rem;
            -webkit-box-shadow: 0px 3px 16px 2px rgb(0 0 0 / 23%);
            box-shadow: 0px 3px 16px 2px rgb(0 0 0 / 23%);
            ul {
                list-style-type: none;
                padding: 0px;
            }
            li {
                text-align: left;
                padding: 14px;
            }
            li:hover {
                color: #00549a;
                text-decoration: underline;
            }
        }
    }
    .active {
        border-left: 5px solid #00549a;
    }
</style>
