<template>
    <div class="menu" :class="$mq">
        <div class="container" :class="$mq">
            <nav :class="$mq">
                <div class="brand" :class="$mq">
                    <router-link to="/">
                        <a  aria-label="Go to bell.ca homepage ">
                            <img src="../../assets/Bell_logo.png"/>
                        </a>
                    </router-link>
                </div>
                <ul>
                    <li
                        v-show="item.display"
                        ref = "item"
                        v-for="(item, index) in navigationTree" :key="item.title"
                        @click="showMenu(item, index)">
                        {{ item.title }}
                    </li>
                </ul>
            </nav>
            <div :style="{top: '100px', left: position.left + 'px', position: 'absolute' }">
                <SubMenu
                        v-show="subMenuData"
                        @hideMenu="hideMenu"
                        :menu="subMenuData">
                </SubMenu>
            </div>
        </div>
        <img
            class="burger"
            :class="$mq" src="../../assets/images/burger.png"
            @click="menuMobile()"/>
        <MenuMobile
            v-show="showMenuMobile"
            :menu="navigationTree">
        </MenuMobile>
    </div>
</template>

<script>
    import { navigationTree } from '../../Menu/tree';
    import SubMenu from "./SubMenu.vue";
    import MenuMobile from "./MenuMobile";

    export default {
        name: 'TopBar',
        components: {
            MenuMobile,
            SubMenu
        },
        data: function () {
            return {
                navigationTree,
                subMenuData: [],
                position: {},
                showMenuMobile: false
            }
        },
        created: function() {
            console.log('TopBar created')
        },
        props: {
        },
        computed: {

        },
        methods: {
            showMenu: function (ev, index) {
                const left = this.$refs.item[index].getBoundingClientRect().left;
                this.position = {
                    left
                };
                this.subMenuData = ev;
            },
            hideMenu () {
                this.subMenuData = false;
            },
            menuMobile() {
                this.showMenuMobile = !this.showMenuMobile;
            }
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .menu {
        display: flex;
        justify-content: flex-end;
        background: #00549a;
        font-size: 3em;
        padding: 10px;
        .desktop {
            justify-content: center;
        }
        .container {
            display: flex;
            nav {
                display: none;
                .brand {
                    align-self: center;
                    img{
                        height: 50px;
                    }
                }
                ul {
                    color: white;
                    margin: 0px 50px;
                    list-style-type: none;
                    padding: 0;
                    li {
                        position: relative;
                        display: inline-block;
                        color: white;
                        margin: 0 10px;
                        a {
                            vertical-align: middle;
                            font-size: 26px ;
                            text-decoration: none;
                            color: white;
                            text-space: -1px;
                        }
                    }
                }
            }
            nav.desktop {
                display: flex;
            }
        }
        .container.desktop {
            width: 1300px;
        }
        .burger {
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: flex-end;
        }
        .burger.desktop {
            display: none;
        }
    }
</style>
