<template>
    <div class="main">
        MyService
    </div>


</template>

<script>

    export default {
        name: 'MyService',
        props: {
            msg: String
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
