<template>
  <div class="main">
    <Banner :image="'table.png'" :design="design">
      <div class="content">
        <h1>
          Spring forward with a new phone on Canada’s fastest 5G network.<sup>1</sup>
        </h1>
        <p>
          Save up to 50% each month on select phones vs. our full device price with Bell SmartPay™.<sup>2</sup>
        </p>
      </div>
    </Banner>
      <nav >
        <div class="container">
          <div class="navigation" :class="$mq">
            <a class="nav-item" href="/Mobility#INT=MOB_hmpg_TXT" id="Mob_LOB">
              <div class="nav-item-icon-wrap">
                <svg class="nav-item-icon" aria-hidden="true" focusable="false" width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">

                  <path focusable="false" d="M46 9.7H26.2c-1.4 0-2.5.5-3.5 1.4-1 .9-1.5 2.1-1.5 3.5v42.8c0 1.3.5 2.5 1.4 3.5.9 1 2.1 1.5 3.5 1.5h19.8c1.3 0 2.5-.5 3.4-1.4
								1-.9 1.5-2.1 1.5-3.5v-43c0-1.3-.5-2.5-1.4-3.4-.9-.9-2-1.4-3.4-1.4zm2.9 47.7c0 .8-.3 1.6-.9 2.2-.6.6-1.3.9-2.1.9H26.2c-.8 0-1.6-.3-2.2-.9-.6-.6-.9-1.3-.9-2.2V14.5c0-.8.3-1.5.9-2.1.6-.6 1.3-.9
								2.2-.9H46c.8 0 1.5.3 2.1.9.6.6.9 1.3.9 2.1v42.9zM32.7 17h7.2c.3 0 .5-.1.7-.3.2-.2.3-.4.3-.7 0-.3-.1-.6-.3-.7s-.4-.3-.7-.3h-7.2c-.3 0-.5.1-.7.3-.2.2-.3.4-.3.7 0 .3.1.6.3.7.2.2.4.3.7.3z"></path>

                </svg>
              </div>
              <span class="nav-item-text">Mobility</span>
            </a>
            <a class="nav-item" href="/Bell_Internet#INT=ISP_hmpg_TXT" id="Internet_LOB">
              <div class="nav-item-icon-wrap">
                <svg class="nav-item-icon" aria-hidden="true" focusable="false" width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">

                  <path focusable="false" d="M61.4,45.5h-4.6V22.8c0-1.2-1.2-2.1-2.3-2.1h-36c-1.3,0-2.3,0.8-2.3,2.1v22.6h-4.6 c-0.5,0-0.9,0.3-0.9,0.9v3l0,0c0,1.4,1.2,2.4,2.4,2.4h46.7c1.4,0,2.4-1,2.4-2.4l0,0v-3C62.2,45.9,61.9,45.5,61.4,45.5z M18,22.8 c0-0.1,0.2-0.3,0.6-0.3h35.8c0.3,0,0.6,0.2,0.6,0.3v22.6H18V22.8z M60.5,49.2c0,0.5-0.3,0.8-0.7,0.8H13.1c-0.5,0-0.7-0.3-0.7-0.8 v-2.1h48.2v2.1H60.5z"></path>
                  <path focusable="false" d="M36.4,25.7c-0.8,0-1.5,0.7-1.5,1.5c0,0.8,0.7,1.5,1.5,1.5c0.8,0,1.5-0.7,1.5-1.5C38,26.4,37.3,25.7,36.4,25.7z"></path>

                </svg>
              </div>

              <span class="nav-item-text">Internet</span>
            </a>
            <a class="nav-item" href="/Fibe-TV#INT=FTV_hmpg_TXT" id="TV_LOB">
              <div class="nav-item-icon-wrap">
                <svg class="nav-item-icon" aria-hidden="true" focusable="false" width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">

                  <path focusable="false" d="M21.8,52.3h27.6c1.2,0,1.2,1.8,0,1.8H21.8C20.6,54.1,20.6,52.3,21.8,52.3z"></path>
                  <path focusable="false" d="M59,18.1H12.3c-0.5,0-1,0.4-1,1v29.8c0,0.5,0.4,1,1,1H59c0.5,0,1-0.4,1-1V18.9 C60,18.4,59.5,18.1,59,18.1z M58.2,47.9h-45v-28h44.9v28H58.2z"></path>

                </svg>
              </div>

              <span class="nav-item-text">TV</span>
            </a>
            <a class="nav-item" href="/Bell-bundles" id="Bundles_LOB">
              <div class="nav-item-icon-wrap">
                <svg class="nav-item-icon" aria-hidden="true" focusable="false" width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">

                  <path focusable="false" d="M13 47.1c.1-.3.1-.5.1-.8V34.2c0-1.3-1-2.3-2.3-2.3H5.1c-1.3 0-2.3 1-2.3 2.3v12.1c0 .3 0 .5.1.8-.6.1-1.1.5-1.4 1.1L.2 51.5l1.1 2.2h13.1l1.1-2.2-1.3-3.3c-.1-.5-.6-1-1.2-1.1zM4.9 34.3c0-.1.1-.3.3-.3H11c.1 0 .4.1.4.4v12.1c0 .1-.1.4-.4.4H5.2c-.1 0-.4-.1-.4-.4.1-.1.1-12.2.1-12.2zm8.5 17.5H2.7l-.1-.4.9-2.4h9.2l1 2.5-.3.3zM70.3 47.3h-2.5V32.9c0-1.3-1-2.3-2.3-2.3H39.6c-1.3 0-2.3 1-2.3 2.3v9.9H15.7v1.9h21.6V47.4H19.2c-.5 0-1 .4-1 1s.4 1 1 1h14.2v1.7c0 1.4 1.1 2.5 2.5 2.5H69c1.4 0 2.5-1.1 2.5-2.5v-2.5c.1-.8-.4-1.3-1.2-1.3zm-31.1-.2V33c0-.1.1-.4.4-.4h26.1c.1 0 .4.1.4.4v14c0 .1-.1.4-.4.4H39.6c-.3-.1-.4-.2-.4-.3zm30.5 4c0 .4-.3.6-.6.6H36c-.4 0-.6-.3-.6-.6v-1.9h34.5v1.9h-.2z"></path>
                  <path focusable="false" d="M8.7 21.2h39.4v9.5H50V20.6c0-.8-.5-1.3-1.3-1.3H8c-.8 0-1.3.5-1.3 1.3v10.3h1.9v-9.7z"></path>

                </svg>
              </div>

              <span class="nav-item-text">Bundles</span>
            </a>
            <a class="nav-item" href="/Smart-Home#INT=SMART_hmpg_TXT" id="Smart_LOB">
              <div class="nav-item-icon-wrap">
                <svg class="nav-item-icon" aria-hidden="true" focusable="false" width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">

                  <path focusable="false" d="M59.7 36.2l-8.8-8v-8.5c0-.5-.4-.9-.9-.9h-4.5c-.5 0-.9.4-.9.9v2.8l-8.1-7.3c-.3-.3-.9-.3-1.2 0l-23 21c-.3.2-.4.6-.2 1 .1.3.5.6.8.6h5.9v18.4c0 .5.4.9.9.9h8.5c.5 0 .9-.4.9-.9s-.4-.9-.9-.9h-7.6V36.9c0-.5-.4-.9-.9-.9h-4.5L36 17l20.8 19h-4.5c-.5 0-.9.4-.9.9v18.4H36.9v-4.9c.8-.4 1.3-1.2 1.3-2 0-1.2-1-2.2-2.2-2.2-.9 0-1.7.5-2.1 1.4-.4.8-.2 1.8.5 2.4.2.2.4.4.7.5v5.8c0 .5.4.9.9.9h16.4c.5 0 .9-.4.9-.9V37.8h5.9c.4 0 .7-.2.8-.6.1-.3 0-.7-.3-1zM46.4 20.6h2.7v6l-2.7-2.5v-3.5z"></path>
                  <path focusable="false" d="M39.7 45.2c.2.2.4.3.6.3.2 0 .4-.1.6-.2.4-.3.4-.9 0-1.3-1.3-1.4-3.1-2.1-5-2.1s-3.7.8-5 2.1c-.3.4-.3.9 0 1.3.4.3.9.3 1.3 0 .9-1 2.3-1.6 3.7-1.6 1.5-.1 2.8.5 3.8 1.5z"></path>
                  <path focusable="false" d="M28.2 42c.2 0 .5-.1.6-.3 1.9-1.9 4.5-3 7.2-3s5.3 1.1 7.2 3c.3.4.9.4 1.3 0 .4-.3.4-.9 0-1.3-2.2-2.3-5.3-3.6-8.5-3.6s-6.3 1.3-8.5 3.6c-.3.4-.3.9 0 1.3.2.2.4.3.7.3z"></path>
                  <path focusable="false" d="M46.5 38.5c.2.2.4.3.6.3.2 0 .5-.1.6-.3.3-.3.4-.9 0-1.3-3.1-3.1-7.4-4.9-11.7-4.9-4.4 0-8.7 1.8-11.7 4.9-.3.3-.3.9 0 1.3.3.3.9.3 1.3 0 2.8-2.8 6.6-4.4 10.5-4.4 3.8 0 7.6 1.6 10.4 4.4z"></path>

                </svg>
              </div>

              <span class="nav-item-text">Smart Home</span>
            </a>
            <a class="nav-item" href="/Mobility/ConnectedThings?INT=Connected_hmpg_TXT#main" id="Connected_LOB">
              <div class="nav-item-icon-wrap">
                <svg class="nav-item-icon" aria-hidden="true" focusable="false" width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">

                  <path d="M26.6 49.8h-.9c-2 0-3.6-1.6-3.6-3.6V25.7c0-2 1.6-3.6 3.6-3.6h.9v-3.3c0-2.9 2.3-5.2 5.2-5.2H40c2.9 0 5.2 2.3 5.2 5.2v3.3h.9c2 0 3.6 1.6 3.6 3.6v20.4c0 2-1.6 3.6-3.6 3.6h-.9V53c0 2.9-2.3 5.2-5.2 5.2h-8.2c-1.4 0-2.7-.5-3.7-1.5s-1.5-2.3-1.5-3.7v-3.2zm1.5 0V53c0 1 .4 1.9 1.1 2.6s1.6 1.1 2.6 1.1h8.1c2 0 3.7-1.7 3.7-3.7v-3.2H28.1zm0-27.7h15.6v-3.3c0-2.1-1.7-3.7-3.7-3.7h-8.2c-2.1 0-3.7 1.7-3.7 3.7v3.3zm-2.4 1.5c-1.2 0-2.1 1-2.1 2.1v20.4c0 1.2 1 2.1 2.1 2.1h20.4c1.2 0 2.1-1 2.1-2.1V25.7c0-1.2-1-2.1-2.1-2.1H25.7zm14.8 15.8c.4.2.5.7.3 1-.2.4-.7.5-1 .3l-4.2-2.6c-.2-.1-.4-.4-.4-.6v-8c0-.4.3-.8.8-.8s.8.3.8.8V37l3.7 2.4z"></path>

                </svg>
              </div>

              <span class="nav-item-text">Connected things</span>
            </a>
            <a class="nav-item" href="https://business.bell.ca/shop#EXT=BellRef_Consumer_HmpgTile_BizAgno_01192018_TF" id="Bus_LOB">
              <div class="nav-item-icon-wrap">
                <svg class="nav-item-icon" aria-hidden="true" focusable="false" width="60px" height="60px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72">

                  <path focusable="false" d="M54.9 23.4L51.1 18c-.1-.2-.5-.4-.7-.4H20.3c-.2 0-.6.1-.7.4l-4.1 5.7c-.2.2-.2.7-.1.9v5.1c0 2.3 1.4 4.3 3.5 5.1v18.4c0 .6.5.9.9.9h31.1c.5
        0 .9-.4 1.1-.8V34.9c2-.9 3.4-2.9 3.5-5.3v-5.5c-.1-.4-.3-.6-.6-.7zm-34.2-4h29.2l2.8 4H17.9l2.8-4zm25 33.1h-6.9V41.9h6.9v10.6zm4.3.2h-2.6V41.1c0-.6-.5-.9-.9-.9h-8.6c-.6 0-.9.5-.9.9v11.6H20.7V35.4h.3c2.1
        0 3.9-1.1 4.8-2.7.9 1.6 2.8 2.7 4.8 2.7 2.1 0 3.9-.9 4.8-2.6 1.1 1.5 2.8 2.6 4.8 2.6s3.7-1.1 4.8-2.7c1.1 1.6 2.8 2.7 4.8 2.7h.2v17.3zm3.5-23c0
        2.1-1.8 3.9-3.9 3.9s-3.9-1.8-3.9-3.9c0-.6-.4-.9-.9-.9-.6 0-.9.5-.9.9 0 2.1-1.8 3.9-3.9 3.9-2.1 0-3.9-1.8-3.9-3.9 0-.6-.4-.9-.9-.9-.6 0-.9.5-.9.9
        0 2.2-1.5 3.9-3.9 3.9-2.1 0-3.9-1.8-3.9-3.9 0-.4-.4-.8-.8-.8s-.9.4-.9.8c-.2 2.5-1.6 4-3.9 4-2.1 0-3.9-1.8-3.9-3.9v-4.7h36.3c.2 0 .2 4.6.2 4.6z"></path>
                  <path focusable="false" d="M33.7 40h-9.6c-.6 0-.9.5-.9.9v7.7c0 .6.5.9.9.9h9.6c.5 0 .9-.5.9-.9V41c0-.6-.4-1-.9-1zm-.9 7.9H25v-6h7.8v6z"></path>

                </svg>
              </div>

              <span class="nav-item-text">Business</span>
            </a>
          </div>
        </div>
      </nav>
  </div>
</template>

<script>
  import Banner from './Common/Banner';
// ../assets/images/table.png
export default {
  name: 'Home',
  components: {Banner},
  data: function () {
    return {
      design: {
        background: '#e8ebed'
      }
    }
  },
  props: {
    msg: String
  }
}

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  .main {
    nav {
      display: flex;
      justify-content: center;
      width: 100%;
      .navigation {
        display: flex;
        flex-wrap: wrap;
        a {
          color: #00549a;
          text-decoration: none;
          margin: 10px;
          width: 100px
        }
      }
      .nav-item {
        flex-grow: 1;
        white-space: normal;
      }
      .nav-item-icon-wrap {
        display: block;
        width: 60px;
        height: 60px;
        background-color: #005599;
        border-radius: 50%;
        position: relative;
        margin: 0 auto 10px;
      }
      .nav-item-icon {
        width: 45px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        fill: #fff;
      }
    }
  }
</style>
