<template>
    <div class="main">
       xddd: {{currentPage}}
    </div>


</template>

<script>

    export default {
        name: 'Navigation',
        data: function () {
            return {
                currentPage: this.page
            }
        },
        props: ['page'],
        watch: {
            page: function(newVal) {
                this.currentPage = newVal
            }
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
