<template>
    <div class="main" >
        <div class="banner" :class="$mq" :style="design">
            <div class="container" :class="$mq">
                <img class="picture" :class="$mq" alt="Explore phones" :src="imagePath">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'Banner',
        props: {
            image: String,
            design: {
                type: Object,
                default: function() {
                    return {
                        background:'white'
                    }
                }
            }
        },
        created() {
        },
        computed: {
            imagePath: function () {
                return require('../../assets/images/' +  this.image)
            }
        }
    }

</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
    .main {
        .container.desktop {
            flex-direction: row;
            padding: 0px 150px;
        }
        .container {
            flex-direction: column-reverse;
            align-items: center;

            display: flex;
            img {
                width: 100%;
            }
            img.desktop {
                width: 35%;
            }
            .content {
                width: 60%;
            }
        }
        .banner.desktop {
            padding: 100px 0px;
        }
    }


</style>
