<template>
  <div id="app">
    <TopBar></TopBar>
    <router-view></router-view>
  </div>
</template>

<script>

import TopBar from "./components/Menu/TopBar";

export default {
  name: 'App',
  components: {
    TopBar
  },
  data: function () {
    return {
      pages: 0
    }
  },
  created () {
    this.getRouteInfos()
  },
  watch: {
    '$route': 'getRouteInfos'
  },
  methods: {
    getRouteInfos () {
      this.pages = this.$route.name
    }
  }
}
</script>

<style>
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    margin: 0px;
  }
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 18px;
  }
</style>
